In [11]:
import pandas as pd 
from dataprep.eda import create_report


# Load the data, replacing '?' with NaN
data_file = pd.read_csv("hcc_dataset.csv", na_values='?')

# Save the DataFrame back to a CSV file
data_file.to_csv("hcc_dataset.csv", index=False)
df= pd.read_csv("hcc_dataset.csv")
'''data_file = pd.read_csv("hcc_dataset.csv")
create_report(data_file).show_browser()'''

'data_file = pd.read_csv("hcc_dataset.csv")\ncreate_report(data_file).show_browser()'

In [12]:
df

,Gender,Symptoms,Alcohol,HBsAg,HBeAg,HBcAb,HCVAb,Cirrhosis,Endemic,Smoking,...,ALP,TP,Creatinine,Nodules,Major_Dim,Dir_Bil,Iron,Sat,Ferritin,Class
0,Male,No,Yes,No,No,No,No,Yes,No,Yes,...,150.0,7.1,0.70,1.0,3.5,0.5,NaN,NaN,NaN,Lives
1,Female,NaN,No,No,No,No,Yes,Yes,NaN,NaN,...,NaN,NaN,NaN,1.0,1.8,NaN,NaN,NaN,NaN,Lives
2,Male,No,Yes,Yes,No,Yes,No,Yes,No,Yes,...,109.0,7.0,2.10,5.0,13.0,0.1,28.0,6.0,16.0,Lives
3,Male,Yes,Yes,No,No,No,No,Yes,No,Yes,...,174.0,8.1,1.11,2.0,15.7,0.2,NaN,NaN,NaN,Dies
4,Male,Yes,Yes,Yes,No,Yes,No,Yes,No,Yes,...,109.0,6.9,1.80,1.0,9.0,NaN,59.0,15.0,22.0,Lives
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Female,No,Yes,NaN,NaN,NaN,Yes,Yes,No,Yes,...,109.0,7.6,0.70,5.0,3.0,NaN,NaN,NaN,NaN,Lives
161,Female,Yes,No,NaN,NaN,NaN,NaN,Yes,No,No,...,280.0,6.7,0.70,1.0,2.2,2.3,NaN,NaN,NaN,Dies
162,Male,No,Yes,No,No,No,No,Yes,No,Yes,...,181.0,7.5,1.46,5.0,18.6,NaN,NaN,NaN,NaN,Lives
163,Male,No,Yes,Yes,No,Yes,Yes,Yes,Yes,Yes,...,170.0,8.4,0.74,5.0,18.0,NaN,NaN,NaN,NaN,Dies
164,Male,Yes,Yes,No,No,No,Yes,Yes,No,Yes,...,462.0,6.6,3.95,5.0,8.5,19.8,NaN,NaN,NaN,Dies

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 50 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          165 non-null    object
 1   Symptoms        147 non-null    object
 2   Alcohol         165 non-null    object
 3   HBsAg           148 non-null    object
 4   HBeAg           126 non-null    object
 5   HBcAb           141 non-null    object
 6   HCVAb           156 non-null    object
 7   Cirrhosis       165 non-null    object
 8   Endemic         126 non-null    object
 9   Smoking         124 non-null    object
 10  Diabetes        162 non-null    object
 11  Obesity         155 non-null    object
 12  Hemochro        142 non-null    object
 13  AHT             162 non-null    object
 14  CRI             163 non-null    object
 15  HIV             151 non-null    object
 16  NASH            143 non-null    object
 17  Varices         113 non-null    object
 18  Spleno          150 non-null    object
 19  PHT             154 non-null    object
 20  PVT             162 non-null    object
 21  Metastasis      161 non-null    object
 22  Hallmark        163 non-null    object
 23  Age             165 non-null    int64
 24  Grams_day       117 non-null    float64
 25  Packs_year      112 non-null    float64
 26  PS              165 non-null    object
 27  Encephalopathy  164 non-null    object
 28  Ascites         163 non-null    object
 29  INR             161 non-null    float64
 30  AFP             157 non-null    float64
 31  Hemoglobin      162 non-null    float64
 32  MCV             162 non-null    float64
 33  Leucocytes      162 non-null    float64
 34  Platelets       162 non-null    float64
 35   Albumin        159 non-null    float64
 36  Total_Bil       160 non-null    float64
 37  ALT             161 non-null    float64
 38  AST             162 non-null    float64
 39  GGT             162 non-null    float64
 40  ALP             162 non-null    float64
 41  TP              154 non-null    float64
 42  Creatinine      158 non-null    float64
 43  Nodules         163 non-null    float64
 44  Major_Dim       145 non-null    float64
 45  Dir_Bil         121 non-null    float64
 46  Iron            86 non-null     float64
 47  Sat             85 non-null     float64
 48  Ferritin        85 non-null     float64
 49  Class           165 non-null    object
dtypes: float64(22), int64(1), object(27)
memory usage: 64.6+ KB